// Global Variables
$lg-device: 1200px
$sm-device: 992px
$xs-device: 768px

$serif-stack: 'Lora', serif
$sans-serif-stack: 'Lato', sans-serif

$primary: #FF2B75
$secondary: #25DC9C
$secondary-darker: #3CB085

// Inherent
body
	font:
		family: $sans-serif-stack
		size: 14px
		weight: 300
	color: black
	text-align: center
	@media screen and (min-width: $xs-device)
		font-size: 16px

// Typography
h1, h2, h3, h4, p
	margin-top: 0

h1, h2, h3, h4
	margin-bottom: 0.5em
	text-transform: uppercase
	letter-spacing: 0.065em

h1, h2, h4
	font:
		family: $serif-stack
		weight: 300

h1
	font-size: 2em
	letter-spacing: 0.125em
	margin-bottom: 0.5em
	@media screen and (min-width: $sm-device)
		font-size: 3em
	@media screen and (min-width: $lg-device)
		font-size: 4em

h2
	font-size: 1.5em

h3
	font:
		size: 1.125em
		weight: 300

p, p.lead
	margin-bottom: 2em

p.lead
	color: #666666

a
	&:hover
		cursor: pointer

a.text-link
	color: $primary
	&:hover
		color: darken($primary,15%)

	&::after
		content: " "

// Structure
.page-wrapper
	position: relative

section
	padding: 64px 0
	@media screen and (min-width: $sm-device)
		padding: 96px 0
	&:nth-child(odd)
		background-color: #f8f8f8

.no-gutter
	margin-left: 0
	> [class*='col-']
		padding-right: 0
		padding-left: 0

hr
	width: 75%
	border-top: 1px solid #979797
	margin: 0 auto 40px
