<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" type="image/x-icon" href="http://www.amresorts.com/templates/amresorts/favicon.ico">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700|Lora">

	<script src="https://use.typekit.net/ksw1lvu.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="stylesheet" href="dist/css/lib/bower.css">
	<link rel="stylesheet" href="dist/css/style.css">

	<title>AMResorts | Destination: Jamaica</title>
</head>
<body>
	<div class="page-wrapper">
		<div class="content-wrapper">
			<section id="hero">
				<img src="dist/images/amresorts-logo.svg" alt="AMResorts" id="amresorts-logo">
				<img src="dist/images/destination-jamaica.svg" alt="Destination: Jamaica" id="destination-logo">
			</section>

			<section id="highlights">
				<div class="container">
					<div class="row" id="highlights-bar">
						<div class="col-md-3 col-xs-12 highlight-container"><span class="highlights">Highlights</span></div>
						<div class="col-md-3 col-xs-12 highlight-container" id="weather">
							<span class="highlight-label">Average Weather</span>
							<span class="highlight-value"><i class="fa fa-sun-o" aria-hidden="true"></i> 80°F</span>
						</div>
						<div class="col-md-3 col-xs-12 highlight-container" id="peak-season">
							<span class="highlight-label">Peak Season For</span>
							<span class="highlight-value">Waterfall Tours</span>
						</div>
						<div class="col-md-3 col-xs-12 highlight-container" id="holiday">
							<span class="highlight-label">Upcoming Event</span>
							<span class="highlight-value">Reggae Sumfest</span>
						</div>
					</div>
				</div>
			</section>

			<section id="carousel">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h1>Discover Jamaica With All Five Senses</h1>
							<p class="lead">Jamaica is trimmed in long sandy beaches and crystal-clear Caribbean waters. Beyond the sand, the land has soul-stirring beauty with lush forest along misty mountain peaks and hidden waterfalls. An array of smoky, fresh and tropical flavors are to be discovered. You’ll find yourself swaying to the soothing, rhythmic music the country is famous for. Friendly smiles and open arms will welcome you under the warm island sun.  Jamaica is a treat for all the senses.</p>
						</div>
					</div>
					<div class="carousel-container" ng-app="amrSmoothCarousel" ng-cloak>
						<div class="amr-smooth-carousel" ng-controller="SmoothCarouselController as vm">
							<div class="amr-smooth-carousel__slides">
								<div class="amr-smooth-carousel__slide-container" ng-repeat="slide in vm.slides">
									<div class="amr-smooth-carousel__slide {{ vm.getStateClass(slide) }}">
										<img class="amr-smooth-carousel__image" ng-src="{{ slide.image }}" />
										<div class="amr-smooth-carousel__caption">
											<!-- <div class="amr-smooth-carousel__caption-number" ng-bind="{{ slide.no || 1 }}"></div> -->
											<div class="amr-smooth-carousel__caption-title" ng-bind="slide.title"></div>
											<div class="amr-smooth-carousel__caption-copy" ng-bind-html="slide.copy || 'Los Cabos'"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="amr-smooth-carousel__controls">
								<div ng-click="vm.goBackward()" class="amr-smooth-carousel__control"><i class="fa fa-arrow-left"></i></div>
								<div ng-click="vm.goForward()" class="amr-smooth-carousel__control"><i class="fa fa-arrow-right"></i></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="sounds">
				<div class="container">
					<h1>The Sounds of Jamaica</h1>
					<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<p class="lead">Renowned for creating new and original genres including ska, reggae and dancehall, Jamaica’s styles have influenced music worldwide. Get a feel for the island by listening to our Sounds of Jamaica playlist.</p>
						</div>
						<div class="col-md-5">
							<iframe class="spotify-embed" src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A779MortitnXMMJnVSAcOOT&theme=white" width="100%" height="392" frameborder="0" allowtransparency="true"></iframe>
						</div>
					</div>
				</div>
			</section>

			<section id="events">
				<div class="container">
					<h1>Events In Jamaica</h1>
					<p class="lead">Jamaica is rich in culture and celebrations! Check out the exciting upcoming events.</p>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/c0628ee7dfb9411e80dd9de037473181.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>February 2019</h3>
							<h2>Pineapple Cup</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>The Pineapple Cup is an 811-nautical mile race. Starting in Miami and ending in Montego Bay, this offshore race has taken place every other year since 1961. Mark your calendars, because this is a yacht race you will not want to miss!</p>
						</div>
					</div>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/iStock-531609604.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>April 2018</h3>
							<h2>Easter</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>Easter in Jamaica is celebrated widely throughout the country. But what makes the celebration different than other places in the world is the traditional Jamaican Easter bun and cheese. Try out this legendary dish in a bun and cheese eating contest at <a href="https://www.sunscaperesorts.com/splash" target="_blank">Sunscape Splash</a> and <a href="https://www.sunscaperesorts.com/cove" target="_blank">Cove Montego Bay</a>.</p>
						</div>
					</div>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/IMG_4137.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>April 2018</h3>
							<h2>Bacchanal</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>Bacchanal, Jamaica’s version of Carnival, is a full season of parties, costumes, festivals and parades.  The weeklong finale takes place before Easter with a costumed parade called The Road March.</p>
						</div>
					</div>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/DSC_3267.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>July 2017</h3>
							<h2>Reggae Sumfest</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>Reggae Sumfest, the largest music festival in Jamaica, takes place over 5 days in July. DJs, Jamaican reggae artists, including the Marley’s, as well as international artists take the stage in Montego Bay.</p>
						</div>
					</div>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/iStock-152497726.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>August 2017</h3>
							<h2>Montego Bay Jerk Festival</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>This all-day event includes a presentation of jerk eats, family-oriented activities, and a cook-off.  It’s a great way to experience authentic Jamaican cuisines and festivals.</p>
						</div>
					</div>
					<div class="row no-gutter event-wrapper">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img class="img-responsive" src="dist/images/events/15272184_579944245537680_519883265187356748_o.jpg" alt="">
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 event-information-container">
							<h3>September 2017</h3>
							<h2>International Marlin Tournament</h2>
						</div>
						<div class="col-md-6 col-xs-12 event-description-container">
							<p>Founded in 1960, the annual International Marlin Tournament takes place at the Montego Bay Yacht Club with a fishing competition, beach parties, entertainment and more.</p>
						</div>
					</div>
				</div>
			</section>

			<section id="our-resorts">
				<div class="container">
					<h1>Our Resorts</h1>
					<div class="resorts-wrapper">
						<div class="row row--resorts">
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="http://www.amresorts.com/mediasite/wp-content/uploads/2016/02/ZOMBJ_DJI_0188_RSRT.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.zoetryresorts.com/montego-bay" target="_blank">Zoëtry Montego Bay Jamaica</a></h3>
										<p>A stay at Zoëtry Montego Bay offers each guest a complimentary boat trip to spectacular snorkeling spots as well as a personal butler. <a href="http://www.zoetryresorts.com/offers/elevated-escape" target="_blank" class="text-link">Take an Elevated Escape with Club Mobay access</a>—a VIP airport lounge and a sunset cruise.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="http://www.amresorts.com/mediasite/wp-content/uploads/2013/12/SESMB_POOL-at-NIGHT_2A.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.secretsresorts.com/st-james-montego-bay" target="_blank">Secrets St. James Montego Bay</a></h3>
										<p><em>Peaceful. Sophisticated. Paradise.</em>—Set along a private peninsula, you’ll find a modern interpretation of Jamaica’s sophisticated soul with a piano bar, casino and stunning beach with authentic Jamaican jerk carts ready to serve you.  You’ll also enjoy full access to Secrets Wild Orchid next door.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row row--resorts">
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="http://www.amresorts.com/mediasite/wp-content/uploads/2013/12/SEWMB_BEACH_1A.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.secretsresorts.com/wild-orchid-montego-bay" target="_blank">Secrets Wild Orchid Montego Bay</a></h3>
										<p><em>Stylish. Radiant. Fun.</em>—Day and night, this vibrant getaway is full of options including a catamaran* exclusively for Secrets Resorts & Spas’ guests, nearby golf, a nightclub and full access to its neighbor, Secrets St. James.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="http://www.amresorts.com/mediasite/wp-content/uploads/2016/02/BREMB_Jr_Suite_OceanView_Night_2A-1024x682.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.breathlessresorts.com/montego-bay" target="_blank">Breathless Montego Bay Resort & Spa</a></h3>
										<p>The only rooftop pool bar in Jamaica, theme parties, a beach club and five bars and lounges will welcome you to the party at Breathless Montego Bay. Enjoy full access to both Secrets Resorts & Spas next door.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row row--resorts">
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="dist/images/resort-images/SUCMB_SUSMB_Aerial1_1A.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.sunscaperesorts.com/cove" target="_blank">Sunscape Cove Montego Bay</a></h3>
										<p>Surrounded by Montego Bay Marine Park with a PADI-certified dive center on-site, Sunscape Cove is the perfect hub to explore the Caribbean Sea.  Guests can also enjoy free flow access to Sunscape Splash next door.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row resort-wrapper">
									<div class="col-md-6">
										<div class="image-container">
											<img class="resort-image" src="http://www.amresorts.com/mediasite/wp-content/uploads/2015/08/SUNMB_WaterPark2_1A_rgb-1024x682.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<h3><a href="https://www.sunscaperesorts.com/splash" target="_blank">Sunscape Splash Montego Bay</a></h3>
										<p>A pirate ship, lazy river and two waterslides make up Pirate’s Paradise Waterpark at Sunscape Splash where guests of all ages can enjoy <em>Unlimited-Fun</em><sup>&reg;</sup> for the kid in everyone.  Plus, you’ll have full access to two resorts in one vacation at Sunscape Cove next door.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<h4>Early Bird Savings</h4>
					<p>If you are planning on visiting Jamaica, the earlier you book, the more you save!<br>Save up to 55% plus receive $200 to $400 in resort coupons with Early Bird Savings.</p>
					<p>Savings reflected in price at booking. See <a href="http://www.amresorts.com/images-e/2015/006/ebb/terms.html" target="_blank" class="text-link">Term & Conditions</a> for details.</p>
					<p><em>*Additional costs apply.</em></p>
				</div>
			</section>

			<section id="your-los-cabos">
				<div class="container">
					<h1>Your Jamaica</h1>
					<p class="lead">Our guests have shared their vacation photos and we want to share them with you!</p>
					<div class="row">
						<div class="col-md-4 col-md-offset-4 social-container">
							<a href="http://www.amresorts.com/connect" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
							<a href="http://www.amresorts.com/connect" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
							<a href="http://www.amresorts.com/connect" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
							<a href="http://www.amresorts.com/connect" target="_blank"><i class="fa fa-pinterest fa-3x"></i></a>
							<a href="http://www.amresorts.com/connect" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a>
						</div>
					</div>
				</div>
				<div class="container" id="photo-grid">
					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/billiekay11.png">
							<span class="credit">billiekay11<span class="location">Secrets Wild Orchid</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/davidib2015.png">
							<span class="credit">davidib2015<span class="location">Sunscape Cove</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/foreveryfriday.png">
							<span class="credit">foreveryfriday<span class="location">Breathless Montego Bay</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/doctorstravel.png">
							<span class="credit">doctorstravel<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/funkylici0us.png">
							<span class="credit">funkylici0us<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/porkchopsailor.png">
							<span class="credit">porkchopsailor<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/ji00si.png">
							<span class="credit">ji00si<span class="location">Secrets Wild Orchid</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/colej_2.png">
							<span class="credit">colej_2<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/sammicody.png">
							<span class="credit">sammicody<span class="location">Secrets Wild Orchid</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/kristanlynne.png">
							<span class="credit">kristanlynne<span class="location">Secrets Wild Orchid</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/cmayor.png">
							<span class="credit">cmayor<span class="location">Breathless Montego Bay</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/porkchopsailor-2.png">
							<span class="credit">porkchopsailor<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/foreveryfriday-1.png">
							<span class="credit">foreveryfriday<span class="location">Breathless Montego Bay</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/ijeomakola.png">
							<span class="credit">ijeomakola<span class="location">Zoëtry Montego Bay</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/porkchopsailor-3.png">
							<span class="credit">porkchopsailor<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/talliecat255.png">
							<span class="credit">talliecat255<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/jamesonsmommy.png">
							<span class="credit">jamesonsmommy<span class="location">Sunscape Cove</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/mary_mk73.png">
							<span class="credit">mary_mk73<span class="location">Breathless Montego Bay</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/livelaughlove416.png">
							<span class="credit">livelaughlove416<span class="location">Sunscape Splash</span></span>
						</div>
					</div>

					<div class="photo-grid-item">
						<div class="photo-grid-image-container">
							<img class="photo-grid-image" src="dist/images/photo-wall/irenebrihuega.png">
							<span class="credit">irenebrihuega<span class="location">Secrets Wild Orchid</span></span>
						</div>
					</div>
				</div>
			</section>

			<section id="footer">
				<div class="container">
					<img id="desktop-collection-logo" src="dist/images/amr-collection.svg" alt="">
					<div class="mobile-collection-container">
						<ul class="mobile-collection-list">
							<li class="mobile-collection-item"><img src="dist/images/amr-collection_small.svg" alt="The AMResorts Collection"></li>
							<li class="mobile-collection-item">Zo&euml;try Wellness Spas &amp; Resorts</a></li>
							<li class="mobile-collection-item">Secrets Resorts &amp; Spas</li>
							<li class="mobile-collection-item">Breathless Resorts &amp; Spas</li>
							<li class="mobile-collection-item">Dreams Resorts &amp; Spas</li>
							<li class="mobile-collection-item">Now Resorts &amp; Spas</li>
							<li class="mobile-collection-item">Sunscape Resorts &amp; Spas</li>
						</ul>
					</div>
					<div class="footer-link-container">
						<span class="footer-link">© AMResorts 2017. All rights reserved.</span>
						<span class="footer-link"><a href="http://www.amresorts.com/privacy" target="_blank">Privacy Policy</a> | <a href="http://www.amresorts.com" target="_blank">About Us</a> | <a href="http://www.amresorts.com/contact" target="_blank">Contact Us</a></span>
					</div>
				</div>
			</section>
		</div>
	</div>

	<script src="dist/js/lib/bower.js"></script>
	<script src="dist/js/main.js"></script>
	<script src="dist/js/script.js"></script>

</body>
</html>
