.amr-smooth-carousel [ng-click],
.amr-smooth-carousel [data-ng-click],
.amr-smooth-carousel [x-ng-click]
	cursor: pointer

.amr-smooth-carousel__slides
	position: relative
	max-width: 800px
	margin: 0 auto
	height: 450px

.amr-smooth-carousel__slide-container
	position: absolute
	top: 0
	left: 0
	width: 100%

.amr-smooth-carousel__slide
	position: relative
	width: 100%
	padding-top: 450px
	transition: transform 1s, opacity 1s
	z-index: 5

.amr-smooth-carousel__slide--hidden
	transform: perspective(500px) translate3d(0px, 0px, -400px)
	opacity: 0
	z-index: 1

.amr-smooth-carousel__slide--offset-left
	transform: perspective(500px) translate3d(-400px, 0px, -200px)
	z-index: 2

.amr-smooth-carousel__slide--offset-right
	transform: perspective(500px) translate3d(400px, 0px, -200px)
	z-index: 3

.amr-smooth-carousel__image
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	object-fit: cover
	-webkit-object-fit: cover

.amr-smooth-carousel__caption
	position: absolute
	top: 0
	left: 60%
	bottom: 0
	right: 0
	color: white
	background-color: rgba(black,0.6)
	display: flex
	flex-direction: column
	justify-content: center
	padding: 0 20px
	@media screen and (max-width: $xs-device)
		left: 0

.amr-smooth-carousel__caption-number
	font-size: 3em
	text-align: left
	margin-bottom: 0.5em
	font-family: $serif-stack

.amr-smooth-carousel__caption-copy
	text-align: left
	font-weight: 300
	font-size: 14px
	font-family: $sans-serif-stack

.amr-smooth-carousel__caption-copy a,
.amr-smooth-carousel__caption-copy a:link,
.amr-smooth-carousel__caption-copy a:active,
.amr-smooth-carousel__caption-copy a:visited
	color: white
	font-weight: bold

.amr-smooth-carousel__caption-title
	font-size: 30px
	letter-spacing: 0.065em
	text-align: left
	margin-bottom: 0.5em
	font-family: $serif-stack
	text-transform: uppercase
	line-height: 1.1

.amr-smooth-carousel__controls
	margin: 10px auto
	max-width: 800px
	display: inline-block

.amr-smooth-carousel__control
	margin: 0 30px
	float: left
	font-size: 2.0em

// Dennis

section#carousel
	overflow-x: hidden
