section#events
	.event-wrapper
		width: 100%
		background-color: $secondary
		margin-bottom: 15px
		color: white
		text-align: left
		font-size: 14px
		display: flex
		flex-wrap: wrap
		align-items: center
		position: relative
		&:nth-child(even)
			background-color: $secondary-darker
		&:last-child
			margin-bottom: 0
		&::before
			content: none

		.event-information-container
			padding: 15px 15px 0 15px
			@media screen and (min-width:$sm-device)
				padding: 15px 15px 15px 30px

			h3
				color: rgba(white,0.67)

			h2
				margin-bottom: 0

		.event-description-container
			padding: 15px 15px 30px
			@media screen and (min-width:$sm-device)
				padding: 15px 30px 15px 15px

			p
				margin-bottom: 0
				a
					font-weight: bold
					color: white
