section#footer
    padding: 40px 0
    background-color: $primary

    #desktop-collection-logo
        margin-bottom: 40px

    .mobile-collection-container
        display: none
        @media only screen and (max-width: $xs-device)
            display: block

        .mobile-collection-list
            list-style: none
            text-align: center
            padding: 0
            margin: 0
            margin-bottom: 20px

            .mobile-collection-item
                color: white
                line-height: 40px
                border-bottom: 1px solid rgba(white,0.2)
                opacity: 0.8

                img
                    display: block
                    margin: auto
                    width: 70%
                    max-width: 320px
                    padding-bottom: 20px

    .tourism-board
        color: rgba(white,0.54)
        display: block
        text-align: left

    .footer-link-container
        display: flex
        justify-content: space-between
        @media only screen and (max-width: $xs-device)
            display: block
        .footer-link
            color: rgba(white,0.54)
            font-size: 14px
            @media only screen and (max-width: $xs-device)
                display: block
            a
                color: white
                text-decoration: none
                &:hover
                    text-decoration: underline
                    cursor: pointer
