section#hero
	background:
		image: url('../images/iStock-464425396.jpg')
		size: cover
		position: center
	padding: 20px 0 150px
	@media screen and (max-width: $sm-device)
		padding-bottom: 20%

	#amresorts-logo
		display: block
		width: 200px
		height: 54px
		margin: 0 auto
		opacity: 0.85

	#destination-logo
		display: block
		width: 90%
		max-width: 625px
		margin: 100px auto 0
		@media screen and (max-width: $sm-device)
			margin-top: 10%
