section#highlights
	background-color: $primary
	padding: 20px 0

	#highlights-bar
		color: white
		text-transform: uppercase
		line-height: 1.0
		@media screen and (min-width: $xs-device)
			display: flex
			align-items: center

		.highlight-container
			margin: 10px 0

		span.highlights
			font-family: $serif-stack
			font-size: 2em
			letter-spacing: 0.125em

		span.highlight-label
			font:
				family: $sans-serif-stack
				weight: 300
				size: 1.25em
			display: block
			padding-bottom: 4px

		span.highlight-value
			font:
				family: $serif-stack
				size: 1.625em
			line-height: 1
