section#our-resorts

	.resorts-wrapper
		text-align: left

		.resort-wrapper
			margin-bottom: 40px

			.image-container
				display: block
				width: 100%
				position: relative
				height: 0
				padding: 75% 0 0 0
				overflow: hidden
				@media screen and (max-width: $sm-device)
					margin-bottom: 20px

				img.resort-image
					position: absolute
					width: 100%
					height: 100%
					left: 0
					right: 0
					top: 0
					bottom: 0
					object-fit: cover
					object-position: center center

		h2
			color: $secondary
			font:
				family: $sans-serif-stack
				weight: 300
			letter-spacing: normal
			margin-bottom: 1em

		h3
			text-transform: capitalize
			font:
				family: $serif-stack
				size: 1.25em

			a
				color: black
				&::after
					content: "»"
					padding-left: 0.25em
				&:hover
					text-decoration: none
					cursor: pointer
					opacity: 0.5

		p
			color: #666
			margin-bottom: 0
