section#your-los-cabos
    padding-bottom: 0

    .social-container
        margin-bottom: 40px

        a
            color: black
            margin-right: 1em
            &:last-child
                margin-right: 0
            &:hover
                cursor: pointer

#photo-grid
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    &::before
        content: none

    .photo-grid-item
        width: 50%
        height: auto
        position: relative
        @media screen and (min-width: $sm-device)
            width: 25%
        @media screen and (min-width: $lg-device)
            width: 20%
        &:hover, &:focus
            span.credit
                opacity: 1
                transform: translateY(0)

        .photo-grid-image-container
            display: block
            width: 100%
            position: relative
            height: 0
            padding: 100% 0 0 0
            overflow: hidden

            img.photo-grid-image
                position: absolute
                width: 100%
                height: 100%
                left: 0
                right: 0
                top: 0
                bottom: 0
                object-fit: cover
                object-position: center center

        span.credit
            position: absolute
            bottom: 0
            left: 0
            color: white
            background-color: rgba(black,0.5)
            width: 100%
            text-align: right
            padding: 5px 10px
            font:
                size: 13px
                weight: 700
            opacity: 0
            transform: translateY(10px)
            transition: all 100ms ease-in-out

            span.location
                display: block
                font-weight: 300
