section#sounds
	background:
		image: url('../images/iStock-527511953.jpg')
		size: cover
		position: center

	.row
		display: flex
		align-items: center
		@media screen and (max-width: $sm-device)
			display: initial

	h1
		color: white

	p.lead
		color: white
		text-align: left
		margin-bottom: 0
		text-shadow: 0 0 30px rgba(black,0.5)
		@media screen and (max-width: $sm-device)
			margin-bottom: 2em
